name: Build and Release

on:
    push:
        tags:
            - 'v*'
permissions:
    contents: write

jobs:
    build:
        name: Build (${{ matrix.os }})
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ ubuntu-latest ]

        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Setup pnpm 10
                uses: pnpm/action-setup@v4
                with:
                    version: 10

            -   name: Setup Node.js 24
                uses: actions/setup-node@v6
                with:
                    node-version: 24
                    cache: pnpm
                    cache-dependency-path: pnpm-lock.yaml

            -   name: Install Modules
                run: pnpm install --frozen-lockfile

            -   name: Build
                run: pnpm run build

            -   name: Compress Directory
                uses: somaz94/compress-decompress@v1
                with:
                    command: compress
                    source: ./
                    format: zip
                    dest: ./artifacts
                    destfilename: nano
                    exclude: '.git .github node_modules .oxlintrc.json .gitignore .editorconfig tsconfig.tsbuildinfo artifacts'

            -   name: Upload artifacts
                uses: actions/upload-artifact@v7
                with:
                    name: nano-${{ matrix.os }}
                    path: ./artifacts/nano.zip
                    retention-days: 1

            -   name: Create Release
                uses: softprops/action-gh-release@v2
                with:
                    tag_name: ${{ github.ref_name }}
                    name: Release ${{ github.ref_name }}
                    draft: false
                    prerelease: ${{ contains(github.ref_name, '-') }}
                    generate_release_notes: true
                    files: |
                        ./artifacts/nano.zip
