name: Build Test

on:
    push:
        branches: [ "main" ]
    workflow_dispatch:
    pull_request:
        branches: [ "main" ]

jobs:
    docs:
        name: Build Test on Node 24
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Set pnpm 10
                uses: pnpm/action-setup@v4
                with:
                    version: 10

            -   name: Set Node.js 24
                uses: actions/setup-node@v6
                with:
                    node-version: 24
                    cache: pnpm
                    cache-dependency-path: pnpm-lock.yaml

            -   name: Install Modules
                run: pnpm install --frozen-lockfile

            -   name: Build on Ubuntu
                run: pnpm run build

            -   name: Upload artifacts
                uses: actions/upload-artifact@v7
                with:
                    name: nano
                    path: ./
                    retention-days: 7
